.todo-input {
    margin-left: 1.5rem;
    margin-top: 1rem;
    background: none;
    outline: none;
    color: var(--input-text-color);
    width: 20rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #af64e8;
    font-size: 1.5rem;
}

.todo-add-button {
    height: 1.5rem;
    width: 1.7rem;
    transition: .2s;
    background-color: #454558;
    border: 1px solid #af64e8;
    margin-left: .5rem;
}

.todo-add-button:hover {
    cursor: pointer;
    background-color: #272730;
    transition: .2s;
}