/* Dark Theme
Überschrift bereich: #454558
Haupt Hintergrund: #272730
Heading icon: #af64e8
Heding font color: #ecf0f1
Theme Button, Checkbox abgehakt background: #af64e8
Schrift "3 Listen, 24 Todos" highlighted: #664385
 */

/* Light Theme
Überschrift bereich: #ecf0f1
Haupt Hintergrund: #ffffff
Links Listen Name Background (lila): #7a3db4
Theme Button, checkbox abgehakt background: #7a3db4
Theme button klickbar: #af64e8
Schrift "3 Listen, 24 Todos" highlighted: #b36ce9
 */

:root {
    --heading-background: #454558;
    --main-background: #272730;
    --heading-font: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background);
}

.nav {
    background-color: var(--heading-background);
}

.nav-content-wrapper {
    display: flex;
    align-items: center;
    height: 15%;
}

.nav .nav-content-wrapper i {
    padding: 12px;
    text-decoration: none;
    font-size: 45px;
    margin-left: 1%;
    color: #af64e8;
}

.nav .nav-content-wrapper p {
    font-size: 35px;
    font-family: var(--heading-font);
    color: #ecf0f1;
    display: inline;
    vertical-align: middle
}