* {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
}

#inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputField {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 300px;
  height: 30px;
  font-size: 20px;
}

input[type='text']:focus {
  outline: none;
}

input[type='checkbox'] {
  position: absolute;
  left: 40.5%;
  width: 20px;
  height: 20px;
}

input[type='checkbox']:checked ~ span {
  text-decoration: line-through;
}

.btn {
  position: absolute;
  width: 30px;
  height: 30px;
  color: black;
  background: none;
  border: 1px solid black;
}

.btn:hover {
  transition: all 0.2s ease-in-out;
  color: white;
  background: black;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  outline: none;
}

.editToDoButton {
  left: 56%;
  transition: all 0.4s ease-in-out;
}

.deleteToDoButton {
  left: 58%;
  transition: all 0.2s ease-in-out;
}

span {
  font-size: 20px;
  position: relative;
  margin-top: 2px;
  left: 41%;
}

.addToDo {
  font-size: 15px;
  border: 1px solid black;
  background: none;
  width: 40px;
  height: 36px;
  margin-left: 1%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.addToDo:hover {
  background: black;
  color: white;
  transition: all 0.4s ease;
}

.addToDo:focus {
  outline: none;
}

button > i {
  pointer-events: none;
}

li.edit > input[type='text'] {
  font-size: 20px;
  position: relative;
  left: 41%;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 247px;
}

li.edit > input[type='text'],
li > span {
  display: inline-block;
}

li.edit > span,
li > input[type='text'] {
  display: none;
}

.clearLocalStorage {
  font-size: 15px;
  border: 1px solid black;
  background: none;
  width: 60px;
  height: 36px;
  margin-left: 0.5%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.clearLocalStorage:hover {
  background: black;
  color: white;
  transition: all 0.4s ease;
}

.clearLocalStorage:focus {
  outline: none;
}
