:root {
  --button-color: #af64e8;
  --button-bg-color: #272730;
  --todo-color: #ecf0f1;
  --font-size: 1.5rem;
}

div.todo-wrapper {
  margin-left: 3rem;
}

div > li {
  font-family: var(--roboto);
  color: var(--todo-color);
  font-size: var(--font-size);
  display: inline-block;
  margin: 10px 0 0 0;
}

div > button {
  color: var(--button-color);
  background-color: var(--button-bg-color);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  margin-left: 1rem;
  font-size: var(--font-size);
}

div > button:hover {
  cursor: pointer;
}
